{{> head}}
<body>
    {{> navbar}}
    <div class="row">
        <div class="col">
            <h1>Captura del AV, soy un capo</h1>
        </div>
        <div class="col">
            <img src="assets/img/capturaAV.png" alt="Captura del AV" class="img-thumbnail">
        </div>
    </div>
    {{> footer}}
</body>
